body{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0 auto;
    padding: 0;
    height: 100%;
}
.hidden {
  display:none;
}
.minFontItal{
  font-size: 14px;
  font-style: italic;
}
.container{

  display: grid;
  background: #fff;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: auto;
  grid-template-areas:
  "header header header"
  "menu menu sidebar"
  "main main sidebar"
  "footer footer footer";
  text-decoration: none;
}
.container header{
  box-shadow: inset 0 0 100px #4A235A;
/*  background: #8E44AD; */
  padding: 20px;
  grid-area: header;
  text-align: center;
  color: #fff;
  font-size: 10em;
  transition: .5s ease-in-out;
}

.container header a{
  text-decoration: inherit;
  color: #F4ECF7  ;
  transition: .3s ease-in-out;
  user-select: none;
}
.container header a:hover{
  color: #D2B4DE;
}
.container header a:active{
  /* Shadows are visible under slightly transparent text color */
  color: rgba(74, 35, 90, 0.8);
  text-shadow: 1px 4px 6px #8E44AD, 0 0 0 #000, 1px 4px 6px #8E44AD;
  transition: .1s;
}
.container menu{
  grid-area: menu;
  font-size: 30px;
}
.container menu a{
  color: #2C3E50  ;
  margin: 25px;
}
#side-chat{
  background: #7D3C98;
  width: 400px;
  position: fixed;
  height: 0px;
  bottom: 0;
  right:0;
  box-shadow:  0 0 50px #7D3C98;
  border-radius: 10px 0 0 0;
  z-index: 999;
  transition:.3s ease-in-out;
}
#chat{
  position: fixed;
  height: 0px;
  width: 400px;
  bottom: 0;
  right:0;
  overflow: hidden;
  border: none;
}
.chat-button {
  padding-right: 25px;
  padding-bottom: 10px;
  marrgin: 0;
  font-size: 30px;
  position: relative;
  float: right;
}
.chat-button a{
  text-decoration: none;
  color: white;
  transition: .2s;
}
.chat-button a:active{
  color: rgba(74, 35, 90, 0.8);
  text-shadow: 1px 4px 6px #8E44AD, 0 0 0 #000, 1px 4px 6px #8E44AD;

}
.chat-button-closed i{
  padding: 20px;
  padding-bottom: 35px;
  text-decoration: none;
  color: white;
  transition: .2s;
  font-size: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 998;
}
.chat-button-closed i:hover{
  color: #8E44AD;
}
.chat-button-closed i:active{
  color: rgba(74, 35, 90, 1);
}
.sidebar{
  grid-area: sidebar;
  background: #fff;
  height: 100%;
  text-align: center;
  font-style: italic;
  padding: 20px;
  margin-top: 50px;
}

.footer{
  position: fixed;
  bottom:0;
  width: 100%;
  height: 7px;
  padding-bottom: 10px;
  grid-area: footer;
  background:
  linear-gradient(90deg, rgba(142,68,173,1) 0%, rgba(255,255,255,0) 100%); /* w3c */
  text-align: center;
}

/* ------------ EFFECTS -------- */
/*==================================================
 * 3D
 * ===============================================*/
 .Text3D{
   transition: .1s;
   text-shadow: 0 1px 0 #ccc,
              0 2px 0 #c9c9c9,
              0 3px 0 #bbb,
              0 4px 0 #b9b9b9,
              0 5px 0 #aaa,
              0 6px 1px rgba(0,0,0,.2),
              0 0 5px rgba(0,0,0,.2),
              0 1px 3px rgba(0,0,0,.4),
              0 3px 5px rgba(0,0,0,.3),
              0 5px 10px rgba(0,0,0,.25),
              0 10px 10px rgba(0,0,0,.3),
              0 20px 20px rgba(0,0,0,.15);
 }
 .link-hover {
  transition: 0.3s ease;
  background: none;
  color: rgba(0,0,0,0);
  font-size: 20px;
  text-decoration: none;
  border-top: 4px solid rgba(0,0,0,0);
  border-bottom: 4px solid rgba(0,0,0,0);
  padding: 20px 0;
  margin: 0 20px;
}
.link-hover:hover {
  border-top: 4px solid #8E44AD;
  border-bottom: 4px solid #8E44AD;
  padding: 6px 0;
}
.stripped {
  background:repeating-linear-gradient(
    45deg,
    #8E44AD,
    #8E44AD 10px,
    #7D3C98 10px,
    #7D3C98 20px
  );
  background-size: 20000%;
  animation:1000s scroll infinite linear;
  }

  @keyframes scroll{
  100%{
    background-position:-40000px 0px;
  }
}


  @keyframes slideinf {
    0%{background-position:0% 50%;}
    100%{background-position:100% 50%}
  }
