body {
  background-color: #222222;
  background: -webkit-repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
  background: repeating-linear-gradient(45deg, #2b2b2b 0%, #2b2b2b 10%, #222222 0%, #222222 50%) 0 / 15px 15px;
}
#container {
  position: relative;
}
#circle {
    background: #161616;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 50%);
	
	-webkit-animation: neon1 2s ease-in-out infinite alternate;
    animation: neon1 2s ease-in-out infinite alternate;
}
#countdowntimer{
	color: #fff;
	text-align: center;
	font-family: Calibri;
	margin-top: 520px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 35px;
}

#dzj{
	color: #fff;
	text-align: center;
	font-family: Arial;
	position: absolute;
	margin: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 55px;
}
@-webkit-keyframes neon1 {
  from {
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 70px #fff, 0 0 80px #fff, 0 0 100px #fff, 0 0 150px #fff;
  }
  to {
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #0040a8, 0 0 35px #0040a8, 0 0 40px #0040a8, 0 0 50px #0040a8, 0 0 75px #0040a8;
  }
}